pkgbase = gnome-terminal
	pkgdesc = The GNOME Terminal Emulator
	pkgver = 3.48.2
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Terminal
	arch = x86_64
	groups = gnome-extra
	groups = modified
	license = GPL
	makedepends = docbook-xsl
	makedepends = git
	makedepends = gnome-shell
	makedepends = libnautilus-extension
	makedepends = meson
	makedepends = yelp-tools
	depends = gsettings-desktop-schemas
	depends = vte3
	source = git+https://gitlab.gnome.org/GNOME/gnome-terminal.git#commit=34572eea23a99f1572808d7d2b42af4c8b8b396c
	source = resize.patch
	b2sums = SKIP
	b2sums = 51ba721f0f0215565c1eeeb31669e4e459595eaae9e9dd69add3d3c8f2f6b48a9f3922bcc7634d89b9608578f7ce7cbd444789bc07bf6511fcdcd461176aeac8

pkgname = gnome-terminal
