pkgbase = v2ray
	pkgdesc = A platform for building proxies to bypass network restrictions
	pkgver = 4.37.3.r33.ga82f4fab0
	pkgrel = 1
	url = https://github.com/ccat3z/v2ray-core
	arch = x86_64
	groups = modified
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	depends = v2ray-domain-list-community
	depends = v2ray-geoip
	provides = v2ray
	conflicts = v2ray
	backup = etc/v2ray/config.json
	source = v2ray::git+ssh://git@github.com/ccat3z/v2ray-core.git
	sha512sums = SKIP

pkgname = v2ray

