pkgbase = gnome-remote-desktop
	pkgdesc = GNOME Remote Desktop server
	pkgver = 43.2
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/Mutter/RemoteDesktop
	arch = x86_64
	groups = gnome
	groups = modified
	license = GPL2
	checkdepends = python-dbus
	checkdepends = python-gobject
	checkdepends = mutter
	checkdepends = wireplumber
	makedepends = asciidoc
	makedepends = git
	makedepends = meson
	makedepends = ffnvcodec-headers
	depends = cairo
	depends = libdrm
	depends = libepoxy
	depends = glib2
	depends = libnotify
	depends = libsecret
	depends = pipewire
	depends = systemd
	depends = tpm2-tss
	depends = freerdp
	depends = fuse3
	depends = libxkbcommon
	depends = libfdk-aac
	depends = libvncserver
	depends = dconf
	options = debug
	source = git+https://gitlab.gnome.org/GNOME/gnome-remote-desktop.git#commit=691dcda3e61166187050ddcdcfea08a5ef4a34f1
	source = enable-animation.patch
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = gnome-remote-desktop
