pkgbase = gnome-remote-desktop
	pkgdesc = GNOME Remote Desktop server
	pkgver = 42.1
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/Mutter/RemoteDesktop
	arch = x86_64
	groups = gnome
	groups = modified
	license = GPL2
	checkdepends = xorg-server-xvfb
	checkdepends = python-dbus
	checkdepends = python-gobject
	checkdepends = mutter
	checkdepends = wireplumber
	makedepends = git
	makedepends = meson
	makedepends = ffnvcodec-headers
	depends = cairo
	depends = freerdp
	depends = glib2
	depends = pipewire
	depends = systemd
	depends = libvncserver
	depends = libsecret
	depends = libnotify
	depends = dconf
	depends = fuse3
	depends = libxkbcommon
	depends = libepoxy
	options = debug
	source = git+https://gitlab.gnome.org/GNOME/gnome-remote-desktop.git#commit=7b18a7fcf58d170a70788c8126e3c2e7b4c19509
	source = vnc_cursor.patch
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = gnome-remote-desktop
